<h1>Members Only Posts</h1>
<% if user_signed_in? %>
    <%= current_user.email %>
<% else %>
    <p>Not signed in</p>
<% end %>

<ul>
    <% @posts.each do |post| %>
        <li> 
           <h1> <%= post.title %> </h1>
           <div> <%= post.body %> </div>
           <% if user_signed_in? %>
                <div>Written by: <%= User.find(post.user_id).email %>
            <% else %>
                <div>Sign in to see who wrote this message</div>
           <% end %>
        </li>
    <% end %>
</ul>

<div><%= link_to "Create Post", new_post_path %></div>
<% if alert %>
    <p> <%= alert %> </p>
<% end %>
<div><%= link_to "Create Account", new_user_registration_path %></div>
<div>
    <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, data: { "turbo-method": :delete } %> 
    <% else %>
        <%= link_to "Log-in", new_user_session_path %>
    <% end %>
</div>